.venv
.mypy_cache
.pytest_cache
.coverage
*__pycache__
*.egg-info
tests/integration_test_setup/source-1
tests/integration_test_setup/source-2
tests/integration_test_setup/target
tests/integration_test_setup/stripped*
tests/local_full_tests