.venv
.mypy_cache
.pytest_cache
.coverage
*__pycache__
*.egg-info
tests/integration_test/source-1
tests/integration_test/source-2
tests/integration_test/target
tests/integration_test/target2
tests/integration_test/stripped*
tests/local_full_tests